* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  background: #FAF6ED;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

button {
  max-width: max-content;
  border: none;
  border-radius: .275rem;
  cursor: pointer;
}