* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  font-family: 'Cute Font', sans-serif;
}

.fireworks {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

img {
  height: 100%; 
  max-width: 100%;
  object-fit: cover;
}

.container {
  padding: 90px 60px;
}

.header {
  display: grid;
  justify-content: center;
  gap: 30px;
}

.header h1 {
  color: #F3EFE9;
  font-size: 3.5rem;
  text-align: center;
}

.header .imagem-capa {
  border-top: 10px solid;
  border-right: 10px solid;
  border-left: 10px solid;
  border-bottom: 60px solid;
  border-color: #F8F5F2;
}

.timeline .ano {
  color: #FFC868;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.timeline .retangulo {
  width: 35%;
  height: 10px;
  background: #FFC868;
}

.timeline span {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.timeline span::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 10px;
  background: #FFC868;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .container {
    padding: 90px 20px;
  }
}