:root {
  --tamanhoImg: 250px;

  --cor-p1: #f5c6f5;
  --cor-p2: #c89ae9;
  --cor-p3: #a58fe6;

  --cor-cinza: #2c2730;
  --cor-branco: #fbf5ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cor-cinza);
  font-family: 'Cute Font', sans-serif;
}

.fireworks {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

img {
  height: 100%; 
  max-width: 100%;
  object-fit: cover;
}

.container {
  padding: 90px 60px;
}

.header {
  display: grid;
  justify-content: center;
  gap: 30px;
}

.header h1 {
  color: var(--cor-branco);
  font-size: 3.5rem;
  text-align: center;
}

.header .imagem-capa {
  border-top: 10px solid;
  border-right: 10px solid;
  border-left: 10px solid;
  border-bottom: 60px solid;
  border-color: var(--cor-branco);
  position: relative;

  box-shadow: 6px 20px var(--cor-p3);
}

.timeline, .texto-final {
  max-width: 800px;
  margin: 0 auto;
}

.ano-carrossel-section {
  opacity: 0;
  transition: .3s;
  transform: translateX(-20px);
}

.ano-carrossel-section.exibir {
  opacity: 1;
  transform: translateX(0);
}

.ano-carrossel-section::before,
.ano-carrossel-section::after {
  content: '';
  height: 100%;
  position: absolute;
  width: 8%;
  z-index: 2;
  background: linear-gradient(to right, var(--cor-cinza) 0%, rgba(34, 34, 34, 0) 100%);
}

.ano-carrossel-section::after {
  top: 0;
  right: 0;
  transform: rotateZ(180deg);
}

.timeline .ano {
  color: var(--cor-p3);
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.ano .retangulo {
  height: 10px;
}

.ano.estilo1 {
  color: var(--cor-p3);
}
.ano.estilo1 .retangulo {
  width: 35%;
  background: var(--cor-p3);
}
.ano.estilo1 span::before {
  background: var(--cor-p3);
}

.ano.estilo2 {
  color: var(--cor-p2);
  justify-content: right;
}
.ano.estilo2 .retangulo {
  width: 45%;
  background: var(--cor-p2);
  order: 3;
}
.ano.estilo2 span::before {
  background: var(--cor-p2);
  order: 2;
}

.ano.estilo3 {
  color: var(--cor-p1);
}
.ano.estilo3 .retangulo {
  width: 60%;
  background: var(--cor-p1);
}
.ano.estilo3 span::before {
  background: var(--cor-p1);
}

.ano span {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.ano span::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 10px;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .container {
    padding: 90px 20px;
  }
}

.carrossel-container {
  display: grid;
  place-items: center;
  overflow: hidden;

  width: 100%;
  margin: auto;
  margin-bottom: 80px;
  padding: 10px 0;
  max-width: 900px;
}

.carrossel-container.bordas {
  border-top: 2px solid var(--cor-branco);
  border-bottom: 2px solid var(--cor-branco);
}

.carrossel {
  display: flex;
}

.carrossel-imagem {
  width: var(--tamanhoImg);
  height: 160px;
  padding: 0 5px;
  object-fit: cover;
}

.texto-final {
  padding: 20px;
}

.texto-final p {
  color: #FFF;
  font-size: 1.4rem;
  text-align: justify;
}