:root {
  --tamanhoImg: 300px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  font-family: 'Cute Font', sans-serif;
}

.fireworks {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

img {
  height: 100%; 
  max-width: 100%;
  object-fit: cover;
}

.container {
  padding: 90px 60px;
}

.header {
  display: grid;
  justify-content: center;
  gap: 30px;
}

.header h1 {
  color: #F3EFE9;
  font-size: 3.5rem;
  text-align: center;
}

.header .imagem-capa {
  border-top: 10px solid;
  border-right: 10px solid;
  border-left: 10px solid;
  border-bottom: 60px solid;
  border-color: #F8F5F2;
}

.timeline .ano {
  color: #FFC868;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.timeline .retangulo {
  width: 35%;
  height: 10px;
  background: #FFC868;
}

.timeline span {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.timeline span::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 10px;
  background: #FFC868;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .container {
    padding: 90px 20px;
  }
}

.carrossel-container {
  display: grid;
  place-items: center;
  overflow: hidden;

  width: 100%;
  height: 250px;
  position: relative;
  margin: auto;
  max-width: 900px;
}

.carrossel-container::before,
.carrossel-container::after {
  content: '';
  height: 80%;
  position: absolute;
  width: 10%;
  z-index: 2;
  background: linear-gradient(to right, #222 0%, rgba(34, 34, 34, 0) 100%);
}

.carrossel-container::before {
  left: 0;
}

.carrossel-container::after {
  right: 0;
  transform: rotateZ(180deg);
}

.carrossel {
  display: flex;
  /* está sendo feito via JS */
  /* width: calc(var(--tamanhoImg) * 6); */
  /* animation: scroll 3s linear infinite; */
}

.carrossel-imagem {
  height: 200px;
  width: var(--tamanhoImg);
  padding: 0 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    /* está sendo feito via JS */
    /* transform: translateX(calc((0px - (var(--tamanhoImg))) * 3)); */
  }
}