* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;

  color: #1a1a1a;
}

.content {
  max-width: 1400px;
}

header {
  background: linear-gradient(90deg, #023059, #001a31);
}

header nav {
  height: 80px;

  display: flex;
  margin: 0 auto;
}

header nav ul {
  width: 100%;
  padding: 2rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: 300;
}

header nav ul .home-icon {
  margin-right: auto;
  color: #fffdf9;
}

header nav ul li {
  list-style: none;
  
}

header nav ul li a {
  color: #fffdf9;
  text-decoration: none;
}

header .myself {
  display: grid;
  grid-template-columns: 1fr auto;

  background: linear-gradient(90deg, #b19c76, #4b402c);
}

.myself .content {
  max-width: calc(1400px - 40vw);

  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  padding: 2rem;
}

.myself h1 {
  font-size: 4rem;
  line-height: 1;

  color: #fffdf9;
}

.myself p {
  color: #fffdf9;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.myself img {
  justify-self: end;
  
  width: 40vw;
  max-height: 800px;
  object-fit: cover;
}

main > section {
  /* background: #ffd7d7; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > section h2 {
  /* text-align: center; */
}