* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;

  color: #1a1a1a;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  width: 100%;
  max-width: 1400px;
  padding: 2rem;
}

/* HEADER */

header {
  background: linear-gradient(90deg, #023059, #001a31);
}

header nav {
  height: 80px;

  display: flex;
  margin: 0 auto;
}

header nav ul {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: 300;
}

header nav ul .home-icon {
  margin-right: auto;
  color: #fffdf9;
  user-select: none;
}

header nav ul li a {
  color: #fffdf9;
}

header .myself-section {
  display: grid;
  grid-template-columns: 1fr auto;

  background: linear-gradient(90deg, #b19c76, #4b402c);
}

.myself-section .content {
  max-width: calc(1400px - 40vw);

  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  padding: 2rem;
}

.myself-section h1 {
  font-size: 4rem;
  line-height: 1;

  color: #fffdf9;
}

.myself-section p {
  color: #fffdf9;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.myself-section img {
  justify-self: end;

  width: 40vw;
  max-height: 800px;
  object-fit: cover;
}

/* MAIN (TODAS AS SECTIONS) */

main > section,
main > aside,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > section + section .content {
  border-top: 2px solid #b19c76;
}

main > section .content {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

main > section .content h2 {
  font-size: 3rem;

  display: flex;
  align-items: center;
  gap: 8px;
}

main > section .content h2::before {
  content: "";
  display: block;
  height: 0.3rem;
  width: 4rem;
  background: #186eb9;
}

main > section .content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

/* HABILIDADES */

.skills-section ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.skills-section ul li {
  width: 100%;
}

.skills-section span {
  display: block;
  padding: 2.4rem;

  border-radius: 8px;

  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;

  color: #fffdf9;

  box-shadow: 0 5px 4px #e0e0e0;
  user-select: none;
}

.html {
  background: linear-gradient(90deg, #ff8162, #e34c26);
}
.css {
  background: linear-gradient(90deg, #5ea2fc, #2678e4);
}
.js {
  background: linear-gradient(90deg, #ffea5e, #ebbf2f);
}
.react {
  background: linear-gradient(90deg, #89e5ff, #36b4ee);
}
.git {
  background: linear-gradient(90deg, #a369ff, #7629f3);
}
.sql {
  background: linear-gradient(90deg, #7bb1da, #3e83b8);
}
.skills-section .js,
.skills-section .react {
  color: #1a1a1a;
}

/* PROJETOS */

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.projects article {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 6px 0 #cecece;
}

.projects article img {
  display: block;

  width: 100%;
  height: 340px;

  object-fit: cover;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  height: 100%;

  border-top: 1px solid #e2d1b0;
}

.project-description h1 {
  line-height: 1.6;
  font-size: 1.5rem;
}

.project-description p {
  flex: 1;
}

.project-link {
  display: block;
  background: linear-gradient(90deg, #b19c76, #746243);

  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 6px;
  text-align: center;

  transition: transform 0.1s;
}

.project-link span {
  color: #fffdf9;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.project-link:hover {
  transform: scale(1.015);
}

/* INFORMAÇÕES EXTRAS */

.extras {
  margin-bottom: 2rem;
}

.extras .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.extras .content .links {
  display: flex;
  gap: 1rem;
}

.extras .content span {
  display: flex;
  align-items: center;

  background: linear-gradient(90deg, #a4d4ff, #69a9e0);
  
  padding: 0.875rem;
  border-radius: 8px;

  transition: all 0.1s;
  user-select: none;
}

.extras .content span:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px #023059;
}

/* CONTATO */

footer {
  background: linear-gradient(90deg, #023059, #001a31);
}

footer .content {
  display: flex;
  flex-direction: column;
}

footer .content p {
  color: #fffdf9;
  line-height: 1.6;
  font-size: 0.875rem;
}

footer .content h2 {
  color: #fffdf9;
  margin-bottom: 1rem;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .content {
    padding: 1rem;
  }

  header .myself-section {
    grid-template-columns: 1fr;
  }

  .myself-section .content {
    max-width: 100%;
    gap: 1rem;
    padding: 1rem;
  }

  .myself-section h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .myself-section img {
    justify-self: start;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
  }

  main > section .content {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  main > section + section .content {
    border-top-width: 1px;
  }

  main > section .content h2 {
    font-size: 2rem;
  }

  main > section .content h2::before {
    height: 0.5rem;
    width: 0.5rem;
    background: #186eb9;
  }

  .skills-section ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects {
    grid-template-columns: 1fr
  }

  .project-description {
    height: initial;
  }
}

@media (max-width: 480px) {
  header nav ul .home-icon {
    display: none;
  }

  .skills-section ul {
    grid-template-columns: 1fr;
  }
}
