@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bodyBackColor: #f0f0f0;
    --outputBackColor: #fff;
    --campoBtnGradient-1: #57a9f7e1;
    --campoBtnGradient-2: #74b6f3;
    --campoBtnGradient-3: #389fff;
    --btnBackColor: rgba(209, 218, 255, 0.678);
}

.dark-mode:root {
    --bodyBackColor: #4e4e4e;
    --outputBackColor: #ffffff; /*ajustar*/
    --campoBtnGradient-1: #022342e1;
    --campoBtnGradient-2: #082b4d;
    --campoBtnGradient-3: #04192c;
    --btnBackColor: rgba(113, 121, 150, 0.678);
}

body {
    background-color: var(--bodyBackColor);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

#calculadora {
    border-radius: 8px;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 22px;
    box-shadow: 0 4px 2px 0 #5757575b;
    max-width: 338px;
}

#output {
    display: flex;
    flex-direction: column;
    background-color: var(--outputBackColor);
    height: 230px;
    padding: 20px;
    margin-bottom: -20px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: inset 0 -28px 16px 0 rgba(0, 0, 0, 0.090);
}

#output #alterar-tema {
    width: 100%;
    display: flex;
    justify-content: center;
}

#output #resultado {
    width: 100%;
    align-self: flex-end;
    text-align: right;
    margin-top: auto;
}

#output #txt-resultado {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    margin-bottom: 16px;
}

#botoes {
    background: linear-gradient(45deg, var(--campoBtnGradient-1), var(--campoBtnGradient-2), var(--campoBtnGradient-3));
    padding: 20px 22px;
    border-radius: 20px;
}

#botoes .linha {
    display: flex;
}

#botoes #btn-0 {
    flex-grow: 1;
}

#botoes .linha button {
    width: 56px;
    height: 56px;
    margin: 8px;
    border: 0;
    border-radius: 14%;
    background-color: var(--btnBackColor);
    box-shadow: inset 0px 0px 6px 0px rgba(252, 252, 252, 0.678);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    transition: all 0.1s ease;

    &:hover {
        cursor: pointer;
        background-color: rgba(252, 252, 252, 0.58);
    }

    &:active {
        transform: scale(0.97);
    }
}

#botao-tema {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85px;
    height: 35px;
    border-radius: 20px;
    background-color: #8fc9ff;
}

#botao-tema::after {
    content: '';
    position: absolute;
    left: 0;
    width: 49px;
    height: 36px;
    border-radius: 18px;
    background-color: #389fffe1;
}

#botao-tema svg {
    width: 24px;
    height: 24px;
    z-index: 1;
}

#botao-tema svg > path {
    fill: #fff;
}