@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(172, 172, 172);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

#calculadora {
    border-radius: 8px;
}

#output {
    background-color: #fff;
}

#botoes {
    background: linear-gradient(45deg, #5695dd, #85bbf8);
}

#botoes .linha {
    display: flex;
    margin-top: 5px;
}

#botoes #btn-0 {
    flex-grow: 1;
}

#botoes button {
    width: 50px;
    height: 50px;
}